##prefix=D:\Program Files\nodejs\node_global
##cache=D:\Program Files\nodejs\node_cache
registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
sass_binary_site=https://registry.npmmirror.com
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
